# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build do .NET
# =========================
bin/
obj/
[Bb]in/
[Oo]bj/

# =========================
# Logs
# =========================
*.log

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp

# =========================
# Node / Front (caso use depois)
# =========================
node_modules/

# =========================
# Publicação
# =========================
publish/

# =========================
# Docker (opcional)
# =========================
docker-compose.override.yml

# =========================
# Configs sensíveis (opcional)
# =========================
appsettings.Development.json